@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.admin-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  border-radius: 10px;
  font-weight: 500;
  color: #cbd5f5;
  transition: all 0.2s ease;
}

.admin-link:hover {
  background-color: #1e293b;
  color: white;
}

.admin-link.active {
  background-color: #334155;
  color: white;
}